:root {
  --background: #ffffff;
  --hover-background: #f6f7fb;
  --primary: #4f46e5;
  --secondary: #f3f4f6;
  --text-secondary: #374151;
  --text-primary: #ffffff;
  --text-black: #000000;
  --text-disabled: #d1d5db;
  --text-title: #111827;
  --error: #ef4444;
  --placeholder: #9ca3af;
  --border: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --hover-background: #f6f7fb;
    --primary: #4f46e5;
    --secondary: #f3f4f6;
    --text-secondary: #374151;
    --text-primary: #ffffff;
    --text-black: #000000;
    --text-disabled: #d1d5db;
    --text-title: #111827;
    --error: #ef4444;
    --placeholder: #9ca3af;
    --border: #d1d5db;
    --disabled: #d1d5db;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-secondary);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: auto;

  @media (max-width: 1024px) {
    padding: 20px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
