:root {
  --background: #ffffff;
  --primary: #4f46e5;
  --secondary: #f3f4f6;
  --secondary-text: #374151;
  --primary-text: #ffffff;
  --error: #ef4444;
  --placeholder: #9ca3af;
  --border: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --primary: #4f46e5;
    --secondary: #f3f4f6;
    --secondary-text: #374151;
    --primary-text: #ffffff;
    --error: #ef4444;
    --placeholder: #9ca3af;
    --border: #d1d5db;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--secondary-text);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
